.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 20px);
    grid-template-rows: repeat(8, 20px);
}

.branco {
    background-color: #f0d9b5;
    height: 20px;
    width: 20px;
}

.preto {
    background-color: #b58863;
    height: 20px;
    width: 20px;
}

