@media (max-width: 480px){
    body {
        background-color: lightcoral;
    }
}

@media (max-width: 1200px) and (min-width: 481px){
    body {
        background-color: lightgreen;
    }
}

@media (max-width: 1600px) and (min-width: 1201px){
    body {
        background-color: lightskyblue;
    }
}

@media (min-width: 1601px){
    body {
        background-color: lightslategray;
    }
}

